/* SCROLL MESSAGES OVERFLOW */

#overflowTest {
    color: #1d3020;
    padding: 15px;
    width: auto;
    height: 30vw;
    overflow: auto;
}

/* SCROLL WEB SITE */

::-webkit-scrollbar {
    width: 1vw;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px$darkGreen; 
    border-radius: 10px;
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bbcfbf;
    border-radius: 10px;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #729178; 
}